* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  background: #000;
  position: absolute;
  inset: 0;
}
input {
  position: absolute;
  font-size: 1.125rem;
  width: min(100ch, 100% - 2rem);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
}
